In [235]:
#preamble
import numpy as np
import pylab
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import matplotlib.ticker as mtick
%matplotlib inline
import scipy.stats as stats
from scipy.stats import ttest_ind
from scipy import stats
from scipy.stats import chisquare
import seaborn as sns
sns.set_style("whitegrid")
sns.color_palette("Set2", 10)
sns.set_context("notebook", font_scale=1.5, rc={"lines.linewidth": 2.5})

In [260]:
wphl = pd.read_excel('/Users/teresaoneill/Dropbox/CILC/WPHL/Results/10_24_17_AllSpanish.xlsx', na_values=[-1, -3])
print(len(wphl))
wphl.head()
wphl.sort_values(by=['WPT'], inplace=True)

98

In [261]:
wphl_drop = wphl[wphl['OPI']!=-3]

OPIall = pd.crosstab(index=wphl_drop["WPT"], 
                             columns=[wphl_drop["OPI"]],
                             margins=True)   # Include row and column totals

OPIall

OPI  5  6   7   8  9  10  All
WPT
6.0  1  2   4   5  0   0   12
7.0  0  1   5   8  1   0   15
8.0  0  0   1   3  3   1    8
All  1  3  10  16  4   1   35

In [264]:
corr1 = wphl_drop['WPT'].corr(wphl_drop['OPI'])
print(corr1)

corr2 = wphl_drop['OPI'].corr(wphl_drop['A15_6'])
print(corr2)

corr3 = wphl['WPT'].corr(wphl['A15_8'])
print(corr3)

corr4 = wphl['A15_6'].corr(wphl['A15_8'])
print(corr4)

corr5 = wphl['WPT'].corr(wphl['Writing_self'])
print(corr5)

corr10 = wphl['Writing_self'].corr(wphl['A15_8'])
print(corr10)

corr11 = wphl_drop['OPI'].corr(wphl_drop['Writing_self'])
print(corr11)

0.522958829671
0.448205640372
0.516660332125
0.698243857106
0.430545634365
0.569470053483
0.139459941118

In [271]:
wphl_sub_self = wphl[wphl['O_self']!=-3] 

print(wphl_sub_self['O_self'].value_counts())

corr6 = wphl_sub_self['OPI'].corr(wphl_sub_self['O_self'])
print(corr6)

corr7 = wphl_sub_self['WPT'].corr(wphl_sub_self['O_self'])
print(corr7)

corr8 = wphl_sub_self['A15_6'].corr(wphl_sub_self['O_self'])
print(corr8)

corr9 = wphl_sub_self['Writing_self'].corr(wphl_sub_self['O_self'])
print(corr9)

4    10
5     6
3     4
Name: O_self, dtype: int64
0.0660427067491
-0.147542222713
0.379213028532
0.442995831395

count   96
mean     3
std      1
min      1
25%      3
50%      3
75%      4
max      5
Name: A15_8, dtype: float64

In [240]:
levels = {"WPT":     {4: 'IL', 5: 'IM', 6:'IH', 7:'AL', 8:'AM', 9:'AH'}}
wphl.replace(levels, inplace=True)

In [241]:
intermed = wphl[wphl['WPT'].isin(['IL','IM','IH'])]
intermed.head()

,I_ID,LANG,SCHL,SCHL_Level,SCHL_CUNY,SCHL_NonCUNY,WPT,WPT_reduc,A0,A0_Bands,...,PracticesBIN,MotherHL,FatherHL,BothParentsHL,TransInt,OPI,O_self,I_ID.1,Gender,Origin
3,326,3,419,1,1,nan,IL,2,19,1,...,4,1,1,1,0,-3,-3,326,-1,-1
4,401,3,434,1,0,3,IL,2,20,1,...,0,0,1,0,0,-3,-3,401,1,239
12,410,3,416,1,1,nan,IM,2,19,1,...,4,1,1,1,0,-3,-3,410,1,239
11,408,3,411,1,1,nan,IM,2,20,1,...,1,1,1,1,0,-3,-3,408,1,239
9,379,3,411,1,1,nan,IM,2,24,2,...,1,1,1,1,0,-3,-3,379,-1,-1

In [242]:
advanced = wphl[wphl['WPT'].isin(['AL','AM','AH'])]
advanced.head()

,I_ID,LANG,SCHL,SCHL_Level,SCHL_CUNY,SCHL_NonCUNY,WPT,WPT_reduc,A0,A0_Bands,...,PracticesBIN,MotherHL,FatherHL,BothParentsHL,TransInt,OPI,O_self,I_ID.1,Gender,Origin
70,500,3,419,1,1,nan,AL,3,28,3,...,nan,nan,nan,nan,nan,8,5,500,1,66
66,427,3,419,1,1,nan,AL,3,20,1,...,5,1,1,1,0,7,-3,427,2,149
67,431,3,419,1,1,nan,AL,3,41,5,...,1,1,1,1,0,8,-3,431,-1,-1
68,434,3,419,1,1,nan,AL,3,18,1,...,4,1,1,1,0,8,-3,434,1,239
69,439,3,419,1,1,nan,AL,3,23,2,...,4,1,0,0,0,7,4,439,2,239

In [266]:
self_sp_all = pd.crosstab(index=wphl_drop["OPI"], 
                             columns=[wphl_drop["O_self"],
                                      wphl_drop["A15_6"]],
                             margins=True)   # Include row and column totals

self_sp_all

O_self  -3               3           4           5     All
A15_6  2.0 3.0 4.0 5.0 2.0 4.0 5.0 3.0 4.0 5.0 4.0 5.0
OPI
5        0   1   0   0   0   0   0   0   0   0   0   0   1
6        0   1   1   0   0   0   0   1   0   0   0   0   3
7        1   1   4   0   1   0   0   0   1   1   1   0  10
8        0   1   4   1   0   2   0   0   4   1   0   3  16
9        0   0   0   1   0   0   0   1   1   0   1   0   4
10       0   0   0   0   0   0   1   0   0   0   0   0   1
All      1   4   9   2   1   2   1   2   6   2   2   3  35

In [268]:
self_wr_all = pd.crosstab(index=wphl["WPT"], 
                             columns=[wphl["Writing_self"],
                                      wphl["A15_8"]],
                             margins=True)   # Include row and column totals

self_wr_all

Writing_self 1.0     2.0                 3.0             4.0             All
A15_8        1.0 2.0 1.0 2.0 3.0 4.0 5.0 2.0 3.0 4.0 5.0 2.0 3.0 4.0 5.0
WPT
2.0            1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
3.0            0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1
4.0            0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   2
5.0            0   0   0   3   1   1   0   0   1   0   0   1   0   0   1   8
6.0            0   1   1   2   6   0   1   0  10   8   1   0   3   2   0  35
7.0            0   0   0   1   1   1   0   1   9   8   2   0   1   3   3  30
8.0            0   0   0   1   1   0   0   0   2   4   2   0   0   2   3  15
9.0            0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   2
10.0           0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1
All            1   1   1   8  10   2   1   2  22  20   5   1   4   8   9  95

In [244]:
selfi = pd.crosstab(index=intermed["WPT"], 
                             columns=[intermed["A15_6"],
                                      intermed["A15_8"]],
                             margins=True)   # Include row and column totals

selfi

A15_6 2.0     3.0         4.0             5.0     All
A15_8 2.0 3.0 1.0 2.0 3.0 2.0 3.0 4.0 5.0 4.0 5.0
WPT
IH      1   2   1   1   7   1  10   7   1   3   1  35
IL      0   1   0   0   0   1   0   0   0   0   0   2
IM      3   0   0   1   2   0   0   0   0   1   1   8
All     4   3   1   2   9   2  10   7   1   4   2  45

In [245]:
selfa = pd.crosstab(index=advanced["OPI"], 
                             columns=[advanced["O_self"],
                                      advanced["A15_6"]],
                             margins=True)   # Include row and column totals

selfa

O_self  -3           3           4           5     All
A15_6  3.0 4.0 5.0 2.0 4.0 5.0 3.0 4.0 5.0 4.0 5.0
OPI
-3       2   5  18   0   0   0   0   0   0   0   0  25
6        0   0   0   0   0   0   1   0   0   0   0   1
7        1   3   0   1   0   0   0   1   0   0   0   6
8        0   2   1   0   1   0   0   2   1   0   3  10
9        0   0   1   0   0   0   1   1   0   1   0   4
10       0   0   0   0   0   1   0   0   0   0   0   1
All      3  10  20   1   1   1   2   4   1   1   3  47

In [267]:
selfa = pd.crosstab(index=advanced["WPT"], 
                             columns=[advanced["A15_6"],
                                      advanced["A15_8"]],
                             margins=True)   # Include row and column totals

selfa

A15_6 2.0 3.0 4.0             5.0         All
A15_8 2.0 3.0 2.0 3.0 4.0 5.0 3.0 4.0 5.0
WPT
AH      0   0   0   0   0   0   0   1   1   2
AL      0   4   2   6   4   1   1   8   4  30
AM      1   1   0   1   2   0   1   4   5  15
All     1   5   2   7   6   1   2  13  10  47

In [247]:
pd.crosstab(intermed['A15_7'], intermed['OPI'])

OPI = pd.crosstab(index=intermed["WPT"], 
                             columns=[intermed["OPI"],
                                      intermed["A15_6"]],
                             margins=True)   # Include row and cOolumn totals

OPI

OPI    -3               5   6       7           8     All
A15_6 2.0 3.0 4.0 5.0 3.0 3.0 4.0 2.0 4.0 5.0 3.0 4.0
WPT
IH      2   6  12   3   1   1   1   1   2   1   1   4  35
IL      1   0   1   0   0   0   0   0   0   0   0   0   2
IM      3   3   0   2   0   0   0   0   0   0   0   0   8
All     6   9  13   5   1   1   1   1   2   1   1   4  45

In [248]:
rr_int = wphl.loc[:, 'C1':'C12_12']
rr_int = pd.concat([intermed['WPT'], rr_int], axis=1, join_axes=[intermed.index])

In [249]:
rr_adv = wphl.loc[:, 'B1':'B12_6']
rr_adv = pd.concat([advanced['WPT'], rr_adv], axis=1, join_axes=[advanced.index])

In [252]:
def crosstabsi():
    for col in rr_int.loc[:,'C1':].columns:
        pd.options.display.float_format = '{:,.0f}'.format
        printout = pd.crosstab(rr_int['WPT'], rr_int[col], margins=True)
        print(printout)

crosstabsi()

C1   1.0  2.0  3.0  All
WPT
IH     0    3   32   35
IL     0    2    0    2
IM     1    6    1    8
All    1   11   33   45
C2   1.0  2.0  3.0  All
WPT
IH     0    1   34   35
IL     1    1    0    2
IM     0    6    2    8
All    1    8   36   45
C3   1.0  2.0  3.0  All
WPT
IH     1    1   33   35
IL     1    1    0    2
IM     1    6    1    8
All    3    8   34   45
C4   1.0  2.0  3.0  All
WPT
IH     0    7   28   35
IL     1    1    0    2
IM     1    7    0    8
All    2   15   28   45
C5_1  0.0  1.0  All
WPT
IH     27    8   35
IL      0    2    2
IM      3    5    8
All    30   15   45
C5_2  0.0  1.0  All
WPT
IH      7   28   35
IL      0    2    2
IM      0    8    8
All     7   38   45
C6   0.0  1.0  All
WPT
IH    10   25   35
IL     0    2    2
IM     0    8    8
All   10   35   45
C7_1  0.0  1.0  All
WPT
IH     26    9   35
IL      0    2    2
IM      3    5    8
All    29   16   45
C7_2  0.0  1.0  All
WPT
IH      9   26   35
IL      0    2    2
IM      2    6    8
All    11   34   45
C7_3  0.0  1.0  All
WPT
IH     22   13   35
IL      0    2    2
IM      1    7    8
All    23   22   45
C7_4  0.0  1.0  All
WPT
IH     16   19   35
IL      1    1    2
IM      1    7    8
All    18   27   45
C7_5  0.0  1.0  All
WPT
IH     27    8   35
IL      2    0    2
IM      6    2    8
All    35   10   45
C8_1  0.0  1.0  All
WPT
IH     35    0   35
IL      1    1    2
IM      8    0    8
All    44    1   45
C8_2  0.0  1.0  All
WPT
IH     30    5   35
IL      0    2    2
IM      3    5    8
All    33   12   45
C8_3  0.0  1.0  All
WPT
IH     24   11   35
IL      2    0    2
IM      6    2    8
All    32   13   45
C8_4  0.0  1.0  All
WPT
IH     17   18   35
IL      1    1    2
IM      7    1    8
All    25   20   45
C9   139.0  140.0  141.0  142.0  143.0  144.0  145.0  146.0  147.0  148.0  \
WPT
IH       1      1      1      1      1      1      1      1      1      1
IM       0      0      0      0      0      0      0      0      0      0
All      1      1      1      1      1      1      1      1      1      1

C9   149.0  All
WPT
IH       0   10
IM       1    1
All      1   11
C10_1  0.0  1.0  All
WPT
IH      35    0   35
IL       0    2    2
IM       4    4    8
All     39    6   45
C10_2  0.0  1.0  All
WPT
IH      19   16   35
IL       2    0    2
IM       2    6    8
All     23   22   45
C10_3  0.0  1.0  All
WPT
IH      23   12   35
IL       2    0    2
IM       4    4    8
All     29   16   45
C10_4  0.0  1.0  All
WPT
IH      13   22   35
IL       2    0    2
IM       8    0    8
All     23   22   45
C11_1  0.0  1.0  All
WPT
IH      25   10   35
IL       1    1    2
IM       4    4    8
All     30   15   45
C11_2  0.0  1.0  All
WPT
IH      20   14   34
IL       0    2    2
IM       0    8    8
All     20   24   44
C11_3  0.0  1.0  All
WPT
IH      12   23   35
IL       0    2    2
IM       0    8    8
All     12   33   45
C11_4  0.0  1.0  All
WPT
IH      25   10   35
IL       2    0    2
IM       7    1    8
All     34   11   45
C11_5  0.0  1.0  All
WPT
IH      27    8   35
IL       2    0    2
IM       8    0    8
All     37    8   45
C11_6  0.0  101.0  102.0  103.0  104.0  105.0  106.0  All
WPT
IH      29      1      1      1      1      1      1   35
IL       2      0      0      0      0      0      0    2
IM       8      0      0      0      0      0      0    8
All     39      1      1      1      1      1      1   45
C12_1  1.0  2.0  All
WPT
IH      10   25   35
All     10   25   35
C12_2  1.0  2.0  All
WPT
IH       6   29   35
All      6   29   35
C12_3  0.0  1.0  2.0  All
WPT
IH       3    8   14   25
All      3    8   14   25
C12_4  0.0  1.0  All
WPT
IH       1   26   27
All      1   26   27
C12_5  1.0  2.0  All
WPT
IH      22    8   30
All     22    8   30
C12_6  0.0  1.0  2.0  All
WPT
IH       3   23    3   29
All      3   23    3   29
C12_7  0.0  1.0  2.0  All
WPT
IH       1   24    6   31
All      1   24    6   31
C12_8  0.0  1.0  2.0  All
WPT
IH       3   24    3   30
All      3   24    3   30
C12_9  0.0  1.0  2.0  All
WPT
IH       1   12   13   26
All      1   12   13   26
C12_10  0.0  1.0  2.0  All
WPT
IH        7   18    2   27
All       7   18    2   27
C12_11  0.0  1.0  2.0  All
WPT
IH        2   15   17   34
All       2   15   17   34

ValueError: No objects to concatenate

In [253]:
def crosstabsa():
    for col in rr_adv.loc[:,'B1':].columns:
        pd.options.display.float_format = '{:,.0f}'.format
        printout = pd.crosstab(rr_adv['WPT'], rr_adv[col], margins=True)
        print(printout)

crosstabsa()

B1   1.0  2.0  3.0  4.0  All
WPT
AH     0    0    1    1    2
AL    13   14    2    1   30
AM     1   13    1    0   15
All   14   27    4    2   47
B2   1.0  2.0  3.0  4.0  All
WPT
AH     0    0    1    1    2
AL    13   15    2    0   30
AM     1   12    2    0   15
All   14   27    5    1   47
B3   1.0  2.0  3.0  4.0  All
WPT
AH     0    0    0    2    2
AL    17   11    2    0   30
AM     0    9    6    0   15
All   17   20    8    2   47
B4   1.0  2.0  3.0  4.0  All
WPT
AH     0    0    1    1    2
AL    21    9    0    0   30
AM     0    8    7    0   15
All   21   17    8    1   47
B5_1  0.0  1.0  All
WPT
AH      2    0    2
AL      8   22   30
AM     11    4   15
All    21   26   47
B5_2  0.0  1.0  All
WPT
AH      2    0    2
AL      8   22   30
AM      3   12   15
All    13   34   47
B5_3  0.0  1.0  All
WPT
AH      0    2    2
AL      2   28   30
AM      3   12   15
All     5   42   47
B6_1  0.0  1.0  All
WPT
AH      2    0    2
AL     15   15   30
AM      8    7   15
All    25   22   47
B6_2  0.0  1.0  All
WPT
AH      0    2    2
AL      3   27   30
AM      4   11   15
All     7   40   47
B7_1  0.0  1.0  All
WPT
AH      2    0    2
AL     23    7   30
AM     13    2   15
All    38    9   47
B7_2  0.0  1.0  All
WPT
AH      0    2    2
AL      3   27   30
AM      2   13   15
All     5   42   47
B7_3  0.0  1.0  All
WPT
AH      2    0    2
AL      2   28   30
AM      1   14   15
All     5   42   47
B7_4  0.0  1.0  All
WPT
AH      2    0    2
AL     22    8   30
AM     14    1   15
All    38    9   47
B7_5  0.0  1.0  All
WPT
AH      2    0    2
AL     15   15   30
AM     14    1   15
All    31   16   47
B7_6  0.0  1.0  All
WPT
AH      2    0    2
AL     25    5   30
AM     14    1   15
All    41    6   47
B8_1  0.0  1.0  All
WPT
AH      2    0    2
AL     15   15   30
AM     15    0   15
All    32   15   47
B8_2  0.0  1.0  All
WPT
AH      1    1    2
AL     16   14   30
AM      0   15   15
All    17   30   47
B8_3  0.0  1.0  All
WPT
AH      1    1    2
AL     29    1   30
AM     15    0   15
All    45    2   47
B9   136.0  137.0  138.0  All
WPT
AL       1      0      1    2
AM       0      1      0    1
All      1      1      1    3
B10_1  0.0  1.0  All
WPT
AH       2    0    2
AL       8   22   30
AM      14    1   15
All     24   23   47
B10_2  0.0  1.0  All
WPT
AH       2    0    2
AL      24    6   30
AM      10    5   15
All     36   11   47
B10_3  0.0  1.0  All
WPT
AH       2    0    2
AL      18   12   30
AM       3   12   15
All     23   24   47
B10_4  0.0  1.0  All
WPT
AH       0    2    2
AL      30    0   30
AM      13    2   15
All     43    4   47
B11_1  0.0  1.0  All
WPT
AH       2    0    2
AL      15   15   30
AM       9    6   15
All     26   21   47
B11_2  0.0  1.0  All
WPT
AH       2    0    2
AL      10   20   30
AM       5   10   15
All     17   30   47
B11_3  0.0  1.0  All
WPT
AH       0    2    2
AL       2   28   30
AM       0   15   15
All      2   45   47
B11_4  0.0  1.0  All
WPT
AH       2    0    2
AL       6   24   30
AM       4   11   15
All     12   35   47
B11_5  0.0  1.0  All
WPT
AH       2    0    2
AL      23    7   30
AM      13    2   15
All     38    9   47
B11_6  0.0  1.0  All
WPT
AH       2    0    2
AL      25    5   30
AM      14    1   15
All     41    6   47
B11_7  0.0  1.0  All
WPT
AH       2    0    2
AL      28    2   30
AM      15    0   15
All     45    2   47
B12_1  0.0  2.0  All
WPT
AH       0    2    2
AL       1    0    1
All      1    2    3
B12_2  1.0  All
WPT
AH       2    2
All      2    2
B12_3  1.0  All
WPT
AH       2    2
All      2    2
B12_4  2.0  All
WPT
AH       2    2
All      2    2
B12_5  1.0  All
WPT
AH       2    2
All      2    2

ValueError: No objects to concatenate

In [272]:
pd.crosstab(rr_int['WPT'], rr_adv['C5_1'], margins=True)

KeyError: 'C5_1'